@charset "UTF-8";


.thumbnail{
    
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: relative;
    left: 50px;  
}

.col-md-6col-lg-3d-flexcounter-wrapftco-animate02{
    
    

}

.block-18mb-xl-0mb-202{
    position: relative;
    left: 215px;
}

.block-18mb-xl-0mb-203{
    
    position: relative;
    left:450px;
}
